Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ParagonTwinblast
Content/NPC/TwinBlast/Animations/
Content/NPC/TwinBlast/FX/
Content/NPC/TwinBlast/Global/
Content/NPC/TwinBlast/Skins/
Content/NPC/TwinBlast/Sounds/DialogueWaves/Twinblast_Effort_Attack_05_Dialogue.uasset
Content/NPC/TwinBlast/Sounds/
Content/NPC/TwinBlast/Icons/
Content/NPC/TwinBlast/Materials/
Content/NPC/TwinBlast/Meshes/
Content/NPC/TwinBlast/Textures/
